@model List<TeacherViewModel>
<div class="list-group mt-4">
    <a class="list-group-item list-group-item-action"
       asp-area=""
       asp-controller="Lessons"
       asp-action="LessonList"
       asp-route-teacherUrl=""
       asp-route-categoryUrl="">Tüm Öğretmenler</a>
    @foreach (var teacherViewModel in Model)
    {
        <a class="list-group-item list-group-item-action"
       asp-area=""
       asp-controller="Lessons"
       asp-action="LessonList"
       asp-route-teacherUrl="@teacherViewModel.Url">@teacherViewModel.Name</a>
    }
</div>
